// make in 50 minutes without see the result

$bg-1:#00232B;

// blink animation
@keyframes blink {
    0% {
        scale: 1;
    }

    5% {
        scale: 0.12;
    }

    7% {
        scale: 1;
    }
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
}

body {
    background-color: $bg-1;

    display: flex;
    align-items: center;
    justify-content: center;

    #body-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;

        > .emoji {
            $size: 56px;
            width: $size;
            height: $size;
            border-radius: 9999px;

            position: relative;

            background-position-x: 0px;
            transition: background-position-x 0.4s ease-in-out;

            &:hover {
                background-position-x: -8px;
            }

            > .face {
                width: $size;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                position: absolute;
                left: 8px;
                transition: left 0.4s ease-in-out;

                &:hover {
                    left: 0px;
                }

                > .eyes {
                    width: 40px;
                    height: 8px; // for animation

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    > .eye {
                        $size: 8px;
                        width: $size;
                        height: $size;
                        border-radius: 9999px;

                        background-color: $bg-1;

                        animation: blink 10s linear infinite;
                    }
                }

                > .mouth {
                    width: 16px;
                }
            }

            &-1 {
                background: radial-gradient(93.75% 96.51% at 6.25% 97.32%, #ff3d28 0%, #ff8053 100%);

                > .face {
                    top: 34px;

                    > .eyebrows {
                        width: 40px;

                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                        position: absolute;
                        top: -7px;

                        > .eyebrow {
                            width: 12px;
                            height: 4px;

                            background-color: $bg-1;

                            &-1 {
                                transform: rotate(12deg);
                            }

                            &-2 {
                                transform: rotate(-12deg);

                            }
                        }

                    }

                    > .mouth {
                        height: 4px;
                        border-radius: 8px 8px 0 0;
                        border: 4px solid $bg-1;

                        position: relative;
                        top: -5px;
                    }
                }
            }

            &-2 {
                background: radial-gradient(93.75% 96.51% at 6.25% 97.32%, #ff5b2a 0%, #ffac52 100%);

                > .face {
                    top: 28px;

                    > .mouth {
                        height: 4px;
                        border-radius: 8px 8px 0 0;
                        border: 4px solid $bg-1;

                        position: relative;
                        top: -3px;
                    }
                }
            }

            &-3 {
                background: radial-gradient(93.75% 96.51% at 6.25% 97.32%, #fda83e 0%, #ffd682 100%);

                > .face {
                    top: 24px;

                    > .mouth {
                        height: 4px;
                        background-color: $bg-1;
                    }
                }
            }

            &-4 {
                background: radial-gradient(93.75% 96.51% at 6.25% 97.32%, #ffc528 0%, #ffe253 100%);

                > .face {
                    top: 18px;

                    > .mouth {
                        height: 4px;
                        border-radius: 0 0 8px 8px;
                        border: 4px solid $bg-1;
                    }
                }
            }

            &-5 {
                background: radial-gradient(93.75% 96.51% at 6.25% 97.32%, #ffe733 0%, #fff36a 100%);

                > .face {
                    top: 12px;

                    > .mouth {
                        height: 8px;
                        border-radius: 0 0 8px 8px;
                        background-color: $bg-1;
                    }
                }
            }
        }
    }
}